<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="container py-4">
      <%= yield %>
    </div>
  

    <div class="container py-4 px-0">
      <%= flash_message(flash[:success], :success) if flash[:success] %>
      <%= flash_message(flash[:error], :error) if flash[:error] %>
      <%= flash_message(flash[:alert], :alert) if flash[:alert] %>
      <%= flash_message(flash[:notice], :notice) if flash[:notice] %>
    </div>
  </body>
</html>
